.chats_panel{
  display: grid;
  width: 15em;

  //todo: Доделать grid и flex
  flex: none;
  grid-template-rows: min-content;
}



.block_poisk{
  background-color: rgb(76, 187, 150);
}

.input{
  margin: .4em;
  width: 200px;
}