.chats_panel{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 15em;
  // height: 100%;
  //todo: Доделать grid и flex

  background-color: rgb(46, 192, 131);
  
}



.block_poisk{
  // flex: 1;
  background-color: rgb(196, 54, 209);
  display: flex;
}


.input{
  flex:1;
  margin: .4em;
  // width: 200px;
  // width: 100%;
}



// .list_chats{
// }




.btn_add_chat{
  position: absolute;
  margin: .2em;

  width: 4rem;
  height: 4rem;

  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 2.5em;
  border-radius: 100em;
  color: aliceblue;
  background-color: green;

  user-select: none;
  cursor: pointer;
  transition:  all .2s;
}
.btn_add_chat:hover{
  background-color: aqua;
}



.friend_chat{
  margin: .2em;
  padding: .2em;

  height: 2.5em;

  border-radius: .5em;
  background-color: rgb(234, 245, 255);
  cursor: pointer;
}