.chats_panel{
  position: relative;
  display: grid;
  width: 15em;

  //todo: Доделать grid и flex
  flex: none;
  grid-template-rows: min-content;
}



.block_poisk{
  background-color: rgb(76, 187, 150);
}

.input{
  margin: .4em;
  width: 200px;
}


.btn_add_chat{
  position: absolute;
  margin: .2em;

  width: 4rem;
  height: 4rem;

  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 2.5em;
  border-radius: 100em;
  color: aliceblue;
  background-color: green;

  user-select: none;
  cursor: pointer;
  transition:  all .2s;
}
.btn_add_chat:hover{
  background-color: aqua;
}



.friend_chat{
  margin: .2em;
  padding: .2em;

  height: 2.5em;

  border-radius: .5em;
  background-color: rgb(234, 245, 255);
  cursor: pointer;
}