.wrapper{
  position: relative;
  display: block;
  height: 100vh;
  
  background-color: rgb(37, 34, 48);
}

.main_side_panel{
  padding-top: 1em;
  height: 100%;

  overflow: auto;
  overflow-x: auto;
}


.img{
  display: block;
  // margin: 12px;
  padding: 12px;

  width: 72px;
  height: 72px;

  border-radius: 2.4em;
  object-fit: cover;

  transition: all .3s;
}

.img:hover{
  border-radius: 1.5em;
  transform: scale(1.1);
}

