.chatview{
  display: flex;

  margin: .2em;
  padding: .2em;

  // height: 2.5em;

  border-radius: .5em;
  background-color: rgb(255, 255, 255);
  
  cursor: pointer;
}

.chatview:hover{
  background-color: var(--bg-secondary-light);
}

.selected{
  background-color:  #4e51ff !important;
}

.userImage{
  display: block;
  width: 3em;
  height: 3em;
  border-radius: 10em;
  border: 1px solid #383838;
}


.secondBlock{
  margin-left: .5em;
}

.userName{
  user-select: none;
  font-weight: 500;
}
