.chatview{
  display: flex;

  margin: .2em;
  padding: .2em;

  border-radius: .5em;
  background-color: rgb(255, 255, 255);
  
  cursor: pointer;
}
.chatview:hover{
  background-color: var(--bg-secondary-light);
}
.chatview[data-selected="true"]{
  background-color: #36ddff;//#1dfcc6;
}
.chatview[data-selected="true"]:hover{
  background-color: #36e8ff;
}


.userImage{
  display: block;
  width: 3em;
  height: 3em;
  border-radius: 10em;
  border: 1px solid #383838;

  user-select: none;
}

.userInfo{
  margin-left: .5em;
}

.userName{
  border-radius: .2em;
  font-weight: 500;
  user-select: none;
}
.userName[data-isOnline="true"]{
  background-color: rgb(116, 255, 123);
}

.lastMessage{
  user-select: none;
}
