.selectChat{
  display: flex;
  flex: 1;
  
  padding: .5em;

  background-color: var(--primary-color-bg);
}

.text{
  flex:1;
  display: block;

  padding: .5em;

  color: #fff;
  font-size: 1.25em;
  text-align: center;

  border: .1em solid #fff;
  border-radius: .5em;
  border-style: dashed;
}
