.profile{
    display: flex;
    flex-direction: column;

    padding: 1em;
    padding-top: .5em;
    width: 25em;

    border-radius: 1em;
    color: #fff;
    background-color: rgb(17 177 79);// rgb(45 181 98);
}

.maininfo{
    display: flex;
    margin-top: 1em;
}

.names{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 1em;
}


.name{
    font-size: 1.125em;
}


.btn_deleteMe{
    margin-top: 1em;
    padding: .25em;
    font-size: 1.25em;

    border-radius: .4em;
    color: #fff;
    background-color: red;
}