.me{
  display: flex;
  align-items: center;

  padding-left: .5em;
  height: 3.5em;

  background-color: #f5f5f5;
}

.meAvatar{
  display: block;
  
  width: 3em;
  height: 3em;
  
  border-radius: .8em;
  background-color: #ededed;
  
  transition: all .2s;

  user-select: none;
  cursor: pointer;
}
.meAvatar:hover{
  box-shadow: 0px 0px .6em 0px #00000052;
}

.meInfo{
  margin-left: .4em;
}

.name{
  display: block;
  font-weight: 500;
  user-select: none;
}

.setting{
  margin-left: auto;
  width: 3em;
  height: 3em;  
  user-select: none;
  cursor: pointer;
}
