.chats_panel{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 15em;
  // height: 100%;
  //todo: Доделать grid и flex
}



.block_poisk{
  // flex: 1;
  background-color: rgb(196, 54, 209);
  display: flex;
}


.input{
  flex:1;
  margin: .4em;
}


.list_chats{
  flex: 1;
  background-color: var(--bg-light);
}


.btn_add_chat{
  position: absolute;
  margin: .2em;

  width: 4rem;
  height: 4rem;

  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 2.5em;
  border-radius: 100em;
  color: aliceblue;
  background-color: green;

  user-select: none;
  cursor: pointer;
  transition:  all .2s;
}
.btn_add_chat:hover{
  background-color: aqua;
}

