.chatInputContainer{
  margin: .5em;
}
.chatInput{
  display: flex;
  max-width: var(--chat-input-max-width);
  margin: auto;
}

.cloudInput{
  display: flex;
  flex: 1;
  // padding: 1em;
  padding: .4em;
  border-radius: 1em;
  background-color: rgb(255, 255, 255);
}

.selectSmile{
  border-radius: 1em;
  border: 0px;
}

.input{
  flex: 1;
  padding: .5em;
  padding-left: .75em;
  // width: 70%;
  // border-radius: .4em;
  background-color: #ffffff00;
  border: 0px;
  font-size: 1em;
  white-space: pre-wrap;
}
.input:focus{
  outline: none;
}

// .btn_send{
//   margin-left: .5em;
//   padding: .5em;
//   border-radius: .4em;
//   background-color: #587ae7;
// }


.send{
  margin-left: .5em;
  padding: .4em;
  width: 3em;
  height: 3em;

  background-color: #fff;
  border-radius: 10em;
  transition: all .2s;
  cursor: pointer;
}
.send:hover{
  transform: scale(1.15);
}
.send:active{
  transform: scale(.85);
}