.message{
  display: block;
  position: relative;

  // margin: 1em;
  margin-bottom: .5em;
  padding: .2em;

  max-width: 500px;

  border-radius: .5em;
  background-color: var(--bg-chat-message-light);

  // word-wrap: normal;
  // white-space: pre-wrap;
  overflow-wrap: anywhere;
}
.message[data-my-message="true"]{
  background-color: var(--bg-chat-message_me-light);
}

.message_head{
  display: flex;
}

.message_text{
  position: relative;
  padding: 0.4em;
  word-break: normal;
  // white-space: pre-wrap;
}

.message_createAt1{
  visibility: hidden;
  
  padding-right: 0em;//.8em;

  line-height: 1;
  font-size: .75em;
  text-wrap: nowrap;
}
.message_createAt2{
  position: absolute;
  right: 4px;
  bottom: 4px;

  color: #14cc23;

  line-height: 1;
  font-size: .75em;
  text-wrap: nowrap;
  user-select: none;
}
