.container{
  // flex: 1;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.registerform{  
  padding: 1em;

  width: 300px;

  border-radius: 1em;
  background-color: #fff;
}

.registerform form{
  display: flex;
  flex-direction: column;
}

.registerform h1{
  font-size: 1.5em;
}


.registerform label{
  margin-top: .6em;
  margin-bottom: .3em;
  font-size: 1.2em;
  font-weight: 500;
}

.registerform input{
  padding: .2em;
  font-size: 1.2em;
  
  border-radius: .5em;
  border-width: .1em;
}


.btn_submit{
  margin-top: 1em;
  padding: .2em;
  font-size: 1.2em;
  color: #fff;
  border-radius: .5em;
  border-width: 0px;
  background-color: rgb(24, 241, 107);

  transition: all .2s;
  user-select: none;
}
.btn_submit:hover{
  transform: scale(1.05);
}
.btn_submit:active{
  transform: scale(0.95);
}