html{
  font-family: Roboto, -apple-system, "apple color emoji", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

/* bg register page rgb(69, 98, 255) */

:root {
  /* light theme tokens */
  --bg-light: #fff;
  --bg-secondary-light: #f3f3f4;
  --text-light: #000;

  --bg-chat-light: rgb(69, 98, 255);
  --bg-chat-message-light: #fff;
  --bg-chat-input-light: #3633e2;
  
  --primary-color: #3390ec;
  
  --primary-color-bg: rgb(69, 98, 255);
  
  /* dark theme tokens */
  /* --bg-dark: 25, 48, 66;
  --accent-dark: 90, 182, 204; */

  


  /* --surface-color: #212121;
  
  --font-monospace: "Roboto Mono", monospace;
  --font-weight-bold: 500;
  --font-weight-normal: 400;

  --line-height-20: 26px;
  --line-height-16: 21px;
  --line-height-14: 18px;
  --line-height-12: 16px;
  --line-height: 1.3125;
  --font-size-20: 20px;
  --font-size-16: 16px;
  --font-size-15: 15px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --font-size: var(--font-size-16); */
}




/*Custome a scrollbar*/
.scrollbar1{
  /* for firfox */
  scrollbar-width: thin;
}

.scrollbar1::-webkit-scrollbar {
  width: 0.3125em;
}

.scrollbar1::-webkit-scrollbar-track {
  background-color: #ffffff00;
  border-radius: 0.3125em;
}

.scrollbar1::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.3125em;
}

.scrollbar1:hover::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, .2);
}
