@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1000px;

  /* --main-color: rgb(50, 67, 218); */
  /* --pane-padding: 5px 42px; */
}

html{
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  /* padding: 4rem; */
  background-color: rgb(55 51 67);
  
  /* overflow: hidden; */
}







.fireui_scrollbar_novisibl::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
