.communication_panel {
    flex: none;
    position: relative;

    display: flex;
    flex-direction: column;

    width: 15em;
}

.input {
    flex: 1;
    margin: 0.4em;
}

.list_chats {
    flex: 1;
    padding-left: 0.3125em;
    padding-bottom: 4em; //Пустое пространство внизу для нормального отображение кнопки AddChat(AddChatModal)
    background-color: var(--bg-light);

    overflow-y: scroll;
}

.btn_add_chat {
    position: absolute;
    // left: 0;
    right: 0;
    bottom: 0;

    margin: 0.5em;

    width: 3em;
    height: 3em;

    color: aliceblue;
    text-align: center;

    border: 0px;
    border-radius: 1000em;
    background-color: var(--primary-color);

    transition: all 0.2s;

    user-select: none;
    cursor: pointer;
}
.btn_add_chat:hover {
    background-color: aqua;
}

.btn_add_chat__inner {
    font-size: 2em;
}
