.communication_panel{
  flex: none;
  position: relative;

  display: flex;
  flex-direction: column;

  width: 15em;
  // height: 100%;
  //TODO: Доделать grid и flex
}

.input{
  flex:1;
  margin: .4em;
}


.list_chats{
  flex: 1;
  padding-left: .3125em;
  padding-bottom: 4em;//пустое пространство внизу
  background-color: var(--bg-light);
  
  overflow-y: scroll;
}


.btn_add_chat{
  position: absolute;
  // left: 0;
  right: 0;
  bottom: 0;

  margin: .5em;
  
  //TODO:(наверно это ненужно) сделать ширину и высоту в 3.375em(ах)
  width: 3em;
  height: 3em;

  color: aliceblue;
  text-align: center;
  // font-size: 1.5em;

  border: 0px;
  border-radius: 1000em;
  background-color: var(--primary-color);

  transition: all .2s;

  user-select: none;
  cursor: pointer;
}
.btn_add_chat:hover{
  background-color: aqua;
}

.btn_add_chat__inner{
  font-size: 2em;
}
